@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Share+Tech&family=Share+Tech+Mono&display=swap');


body {
    background: #284b63;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: space-around;
}

.game-period {
    text-align: center;
    border-bottom: 10px double #f1faee;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #218380;
    text-shadow: 0px 0px 8px #252422;
    width: 130px;
    margin: 5px auto;
    
}

.title-period {   
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
    color: #f1faee;
    width: 130px;
    margin: 5px auto;
}

h3 {
    color: #f1faee;
    font-size: 40px;
    
}

.score {
    background: #264653;
    border: 10px double #e5e5e5;
    border-radius: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 120px;
    color: #218380;
    width: 200px;
    height: 160px;
    margin: 20px auto;
    padding-top: 25px;
    
}



/* Fouls */

.fouls-container {
    display: flex;
    justify-content: space-around;
    margin: 70px auto;
    
}

.fouls-heading {
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    color: #F94F6D;
    width: 180px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.fouls-count {
    background: #252422;
    font-family: 'Share Tech Mono', monospace;
    color: #F94F6D;
    font-size: 90px;
    width: 120px;
    height: 180px;
  

}


/* Buttons */


button {
    background: #2a9d8f;
    color: whitesmoke;
    font-size: 20px;
    width: 80px;
    margin-left: 5px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
}

button:hover {
    color: #252422;
    background: #e5e5e5;

}



.reset-btns {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 20px auto;
    
}

.new-next-btn {
    background: #2a9d8f;
    color: whitesmoke;
    font-size: 30px;
    width: 500px;
    margin-left: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

}